###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [2]:
# Method 1 
nums = [1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [1]:
# Method2
nums = [1,2,3,4]
nums.pop(1)
nums

[1, 3, 4]

In [7]:
# Method3
nums=[1,2,3,4]
nums.remove(2)
nums

[1, 3, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [5]:

nums = [1,2,3,4]
nums.pop()
nums

[1, 2, 3]

**Check nums.pop(0) ** 
> write you comment after executing this command

In [6]:
         # removes zeroth position
nums.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [7]:
# Method1
nums = [1,2,3,4]
nums.extend([3,4])
nums

[1, 2, 3, 4, 3, 4]

In [8]:
#Method 2

nums.extend([1,2,3,4])
nums

[1, 2, 3, 4, 3, 4, 1, 2, 3, 4]

**Insert number "1" in 0th position**

In [9]:
# Method1
nums = [1,2,3,4]
nums.insert(0,1)
nums

[1, 1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [10]:
nums.insert(1,"two-and-half")
nums

[1, 'two-and-half', 1, 2, 3, 4]

In [11]:
nums.insert(3,"two-and-half")
nums

[1, 'two-and-half', 1, 'two-and-half', 2, 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [57]:
plist="Don't panic!"

*convert into list*

In [58]:
p=list(plist)
print(list(p))

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [59]:
p.remove("'")
p.remove("!")
print(list(p))

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [60]:


p.remove("p")
p.remove("a")
p.remove("n")
p.remove("D")
p.extend(["p","a","n","D"])
print(list(p))

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [61]:
p[-4:]
r=p[-4:]
r.append("a")
print(r)

['p', 'a', 'n', 'D', 'a']

- append list

- Join list

In [63]:
s=""
s.join(r)

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [ ]:
# CODE HERE

In [64]:
nums=(31,24,35,85)
nums

(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:
# CODE HERE

In [71]:
num=list(nums)
num.remove(35)
print(num)

[31, 24, 85]

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [74]:
r=(85,19)
w=list(r)
num.extend(w)
print(num)

[31, 24, 85, 85, 19]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)